<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjw.dao.StudentMapper">
  <resultMap id="BaseResultMap" type="com.cjw.po.Student">
    <!--@mbg.generated-->
    <!--@Table t_student-->
    <id column="stu_id" jdbcType="INTEGER" property="stuId" />
    <result column="stu_name" jdbcType="VARCHAR" property="stuName" />
    <result column="stu_gender" jdbcType="VARCHAR" property="stuGender" />
    <result column="stu_tel" jdbcType="VARCHAR" property="stuTel" />
    <result column="stu_intime" jdbcType="DATE" property="stuIntime" />
    <result column="stu_headPic" jdbcType="VARCHAR" property="stuHeadpic" />
    <association property="myClass" javaType="com.cjw.po.MyClass">
      <id column="class_id" jdbcType="INTEGER" property="classId" />
      <result column="class_name" jdbcType="VARCHAR" property="className" />
      <result column="class_teacher" jdbcType="VARCHAR" property="classTeacher" />
      <result column="class_time" jdbcType="DATE" property="classTime" />
    </association>
    <association property="home" javaType="com.cjw.po.Home">
      <id column="home_id" jdbcType="INTEGER" property="homeId" />
      <result column="home_address" jdbcType="VARCHAR" property="homeAddress" />
      <result column="home_maxnum" jdbcType="INTEGER" property="homeMaxnum" />
      <result column="home_innum" jdbcType="INTEGER" property="homeInnum" />
      <result column="home_rental" jdbcType="VARCHAR" property="homeRental" />
      <result column="home_status" jdbcType="VARCHAR" property="homeStatus" />
      <result column="home_landlord" jdbcType="VARCHAR" property="homeLandlord" />
      <result column="home_tel" jdbcType="VARCHAR" property="homeTel" />
      <result column="home_type" jdbcType="VARCHAR" property="homeType" />
      <result column="home_date" jdbcType="DATE" property="homeDate" />
      <result column="home_buildingtype" jdbcType="VARCHAR" property="homeBuildingtype" />
      <result column="home_paytype" jdbcType="VARCHAR" property="homePaytype" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    stu_id, stu_name, stu_gender, stu_tel, stu_intime, stu_headPic, fk_class_id, fk_home_id,
    <include refid="com.cjw.dao.MyClassMapper.Base_Column_List"/>,
    <include refid="com.cjw.dao.HomeMapper.Base_Column_List"/>
  </sql>


<!--auto generated by MybatisCodeHelper on 2020-12-23-->
  <select id="findAllByStuNameLikeAndMyClassNameLikeAndHomeAddressLike" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_student
    inner join t_class tc on t_student.fk_class_id = tc.class_id
    inner join t_home th on t_student.fk_home_id = th.home_id
    <where>
      <if test="likeStuName != null">
        and stu_name like concat('%',#{likeStuName,jdbcType=VARCHAR},'%')
      </if>
      <if test="likeMyClassName != null">
        and tc.class_name like concat('%',#{likeMyClassName,jdbcType=VARCHAR},'%')
      </if>
      <if test="likeHomeAddress != null">
        and th.home_address like concat('%',#{likeHomeAddress,jdbcType=VARCHAR},'%')
      </if>
    </where>
  </select>
</mapper>